{
    "env": {
        "browser": false,
        "node": true
    },
    "extends": ["eslint:recommended", "prettier"],
    "rules": {
        "no-extra-boolean-cast": 1,
        "no-extend-native": 1,
        "no-console": 1,
        "no-else-return": 2,
        "no-extra-parens": 2,
        "no-extra-semi": 2,
        "no-dupe-else-if": 2,
        "block-scoped-var": 2,
        "array-callback-return": 1,
        "consistent-return": 2,
        "class-methods-use-this": 1,
        "curly": [2, "all"],
        "strict": 1,
        "brace-style": [2, "1tbs"],
        "block-spacing": [1, "never"],
        "comma-spacing": [1, {"before": false, "after": true}],
        "func-call-spacing": [2, "never"],
        "func-name-matching": [2, "always"],
        "function-call-argument-newline": [2, "consistent"],
        "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
        "new-cap": 1,
        "new-parens": [2, "always"],
        "newline-per-chained-call": 2,
        "no-lonely-if": 2,
        "no-unneeded-ternary": 2,
        "no-whitespace-before-property": 1,
        "one-var": 2,
        "padded-blocks": [2, "never"],
        "quote-props": [2, "consistent"],
        "quotes": 0,
        "semi": 2,
        "semi-spacing": [2, {"before": false, "after": true}],
        "semi-style": [2, "last"],
        "space-before-blocks": 0,
        "space-before-function-paren": [2, "never"],
        "space-in-parens": [2, "never"],
        "switch-colon-spacing": [2, {"after": false, "before": true}],
        "prefer-spread": 0,
        "max-params": [1, 4],
        "max-depth": 1,
        "max-nested-callbacks": [1, {"max": 3}],
        "max-lines": [1, { "skipComments": true, "skipBlankLines": true }],
        "no-new": 0,
        "no-nested-ternary": 0
    },
    "globals": {
        "jquery": true,
        "$": true,
        "ko": true,
        "smartPak": true
    },
    "ignorePatterns": ["node_modules/"]
}